*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ##################################### */
/* ########### VARIABLES ###############*/
/* ##################################### */

:root{
  /* Tamaño fuente */
  --normal: 18px;
  --large: 40px;
  --medium: 30px;
  --small: 16px;
  --mini: 14px;

  /* colores */
  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);

  /*  ### Neutral */

  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
}

body{
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  font-family: 'Bai Jamjuree', sans-serif;
}

.hero{
  
  max-width: 90%;
  margin: 0 auto;
}

.center{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  color: var(--GrayishBlue);
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
 
}

.button{
  margin-top: 50px;
  
}

.button a{
  border-radius: 100px;
  padding: 15px 30px;
  text-decoration: none;
  color: white;
  font-size: var(--normal);
  font-weight: 600;
  font-size: var(--small);
  letter-spacing: 1px;

}

.ios{
  background-color: var(--StrongCyan);
  border: 2px var(--StrongCyan) solid;
  box-shadow: 2px 3px 2px hsl(171, 65%, 41%);
  margin-right: 5px;
}

.mac{
  background-color: var(--LightBlue);
  border: 2px var(--LightBlue) solid;
  box-shadow: 2px 3px 2px hsl(233, 60%, 57%);
  margin-left: 5px;
}

h2{
  
  color: var(--DarkGrayishBlue);
  font-size: var(--medium);
  margin: 150px 0 0;
  text-align: center;
}
h3{
  color: var(--DarkGrayishBlue);
}

/* ##################################### */
/* #####Acá comienza History ###*/
/* ##################################### */

h1{
  color: var(--DarkGrayishBlue);
  margin: 30px 0 0  ;
  font-size: var(--large);
  text-align: center;
}

.logo-c{
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.logo-c img{
  width: 150px;
}

.ios:hover{
  border: 1px var(--StrongCyan) solid;
  background-color: transparent;
  color: var(--StrongCyan);
  font-weight: 600;
  transition: all 0.5s;
}

.mac:hover{
  border: 1px var(--LightBlue) solid;
  background-color: transparent;
  color: var(--LightBlue);
  font-weight: 600;
  transition: all 0.5s;
}


/* ##################################### */
/* #####Acá termina History ###*/
/* ##################################### */


/* ##################################### */
/* #####Acá comienza Track ###*/
/* ##################################### */

.container-items{
  display: flex;
  margin-top: 80px;
}

.container-items-img img{
  width: 90%;
  object-position: -30px 0;
}

.track-items-detail h3{
  padding-top: 50px;
}

.track-items-detail p{
  text-align: left;
  font-size: var(--mini);
}
/* ##################################### */
/* #####Acá termina track ###*/
/* ##################################### */




/* ##################################### */
/* #####Acá comienza clipboard ###*/
/* ##################################### */

.clickboard-img{
  display: flex;
  justify-content: center;
}

.clickboard-img img{
  margin-top: 70px;
  width: 70%;
}

/* ##################################### */
/* #####Acá termina clickboard ###*/
/* ##################################### */

/* ##################################### */
/* #####Acá comienza workflow ###*/
/* ##################################### */
.tools1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "area1 area2 area3";
  gap: 20px;
  width: 90%;
  margin: 80px auto;

}
.tools1-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tools1-container p{
  font-size: var(--small);
  text-align: center;
}

.tools1-container img{
  margin-bottom: 30px;
}

.tools1-container h3{
  margin-bottom: 10px;
}

.tools2{
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
  gap: 20px;
  width: 90%;
  margin: 150px auto 0;
  display: flex;
  justify-content: space-between;
}

.tools2-container{
  
 
}

.available-detail p{
  text-align: center;
}


/* ##################################### */
/* #####Acá temrina workflow ###*/
/* ##################################### */

/* ##################################### */
/* #####Acá comienza footer ###*/
/* ##################################### */

.footer{
  margin-top: 120px;
  background-color: hsla(202, 11%, 66%, 0.116);
  
  display: flex;
  
  align-items: center;
  padding: 40px 0;
}

.footer-logo{
 
  margin-left: 10%;
  
}

.footer-logo img{
  width: 50px;
  
}

.footer-detail{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 column-gap: 80px;
 row-gap: 20px;
 margin-left: 10%;
 
  
}

.footer-detail a{
  text-decoration: none;
  color: var(--DarkGrayishBlue);
  
}

.footer-social{
  
  
  margin-left: 20%;
  
}

.footer-social img{
  
  margin-right: 10px;
}

/* ##################################### */
/* #####Acá termina footer ###*/
/* ##################################### */